@import "partials/_reset";
@import "partials/color_theme_1";
@import "partials/contact";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,500&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.site {
  background-color: floralwhite;
}

/* pagination */
.flex_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.flex_container a {
  padding: 0.625em;
  margin: 0.625em;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: deepskyblue;
  }
}


.flex-item {
  color: #000;
}

.selected {
  color: #2e6b31;
}

.dashes {
  pointer-events: none;
}

p {
  font-size: 1.2em;
  line-height: 0.8;
  font-weight: bold;
}

.previous {
  /* Not Growable, Shrinkable and Init Width */
  flex: 0 0 4.0em
}
.next {
  /* Not Growable, Shrinkable and Init Width */
  flex: 0 0 4.0em
}

.left-side {
  float: left;
  width: 25%;
  padding: 3% 2% 1%
}

.right-side {
  float: right;
  width: 25%;
  padding: 1%;
}


h1, h2, h3, h4, h5, h6, legend, label {
  font-family: 'Noto Serif JP', serif;
}

p, label, textarea {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: normal;
}


/* Trivia Game */

.displayStatus {

  color: darken($color-really-dark-02, 35%);
  width: 80%;
  padding: 1.250em;
  margin: auto;

  h4 {
    display: none;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3.2em;
    line-height: 0;
    font-weight: bold;
  }

  p {
    display: none;
    line-height: 1.5;
  }

  #customBtn {
    display: block;
    height: 1.420em;
    border: none;
    transition: background-color 0.5s ease;
    background-color: #2E2E2E;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: $color-light-01;
    text-align: center;
    text-decoration: none;
    padding: 0.938em 1.875em;

    &:hover {
      background-color: lighten(#2E2E2E, 12%);
    }
  }

}

.triviaContainer {
  margin: 0 auto;
}

#mainGame {
  padding: 1.250em;
}

#mainGame::after {
  content: ' ';
  display: block;
  clear: both;
}

#headerStyle {
  display: block;
  width: 100%;
  background-color: #fff;
}
#score {
  background-color: #00b28d;
  padding: 0.625em;
}
#percent {
  background-color: #4CAF50;
  padding: 0.625em
}

#current {
  color: #2E2E2E;
}

.gauge {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 1.250em;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

#next {
  float: right;
  outline: none;
  color: #fff;
  border: none;
  background-color: #4CAF50;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 6.25em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.313em;
  margin: 0.625em 0;
  transition: background-color .5s;

  &:hover, &:active {
    background-color: darken(#45a049, 15%);
  }
}

#finalResult {
  padding: 1.250em;
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8em;
    color: darken($color-really-dark-02, 15%);
  }
  p {
    font-size: 1.2em;
    line-height: 1.5;
    color: darken($color-really-dark-02, 15%);
  }
}

.btn1 {
  outline: none;
  color: #fff;
  border: none;
  background-color: #4CAF50;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 6.25em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.313em;
  margin: 0.625em;
  transition: background-color .5s;

  &:hover, &:active {
    background-color: darken(#45a049, 15%);
  }
}

#mainGame #headerStyle h2 #clock {
  opacity: 0;
  font-size: 1.4em;
}

#mainGame #headerStyle h2 #currentQuestion {
  font-size: 1.2em;
  margin-left: 2em;
}

#mainGame #headerStyle h2 #totalQuestions {
  font-size: 1.2em;
}

#mainGame #triviaSection {
  margin: 0;
}

#mainGame #triviaSection #questionBox {
  margin: 0 auto;
}

#mainGame #triviaSection #questionBox h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: #2E2E2E;
  font-weight: 400;
}

#mainGame #triviaSection #buttonContainer {
  background-color: $color-dark-01;
  margin-bottom: 0.625em;
}

#mainGame #triviaSection #buttonContainer .answerButton {
  display: block;
  width: 100%;
  height: 3.125em;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #F5F5F5;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #2E2E2E;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.625em;
  margin: 0 auto;
}

#mainGame #playerStats {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

#mainGame #playerStats #score {
  position: absolute;
  top: 0;
  left: 0.313em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #playerStats #percent {
  position: absolute;
  top: 0;
  right: 0.125em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #nextStyle {
  position: relative;
  top: 2.125em;
  right: 0;
  width: 74%;
  height: 3.125em;
}

#mainGame #nextStyle #next {
  position: absolute;
  top: -35px;
  right: 20px;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 5.375em;
  height: 2.000em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: lighten($color-really-dark-02, 10%);
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: capitalize;

  &:hover {
    background-color: $color-really-dark-02;
  }
}

a.qBtn {
  float: right;
  font-size: 1.0em;
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  border: 1px solid #555;
  padding: 2px 7px;
  margin-right: 5.000em;
  margin-bottom: 3.125em;
  transition: background-color .5s;
}

a.qBtn:visited, a.qBtn:active {
  background-color: #555;
}

a.qBtn:hover {
  color: #555;
  background-color: rgba(0, 0, 0, 0.3);
}

.disableClick {
  pointer-events: none;
}


/* Navigational CSS 9/30/2022 */
.nav {
  position: relative;
  background-color: azure;
  width: 100%;
  height: 2.700em;
  padding-bottom: 0.625em;
}

.nav-title {
  display: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.2em;
  color: #efefef;
  padding-left: 0.625em;
}

.name-website {
  display: none;
  position: absolute;
  right: 0;
  bottom: -0.9375em;

  .webtitle {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.8em;
    color: darken(#e6e6e6, 20%);
  }
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.250em;
  padding-right: 3.125em;
}

.nav > .nav-links > a {
  display: inline-block;
  line-height: 1.875em;
  text-decoration: none;
  text-transform: capitalize;
  color: #2e2e2e;
  padding: 0.313em 0.625em;
}

.nav > .nav-links > a:hover {
  color: lighten(#2e2e2e, 50%);
}

.nav > #nav-check {
  display: none;
}

/* Navigation CSS Media Query */
@media screen and (max-width: 77em) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;

  }
  .nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
    width: 3.125em;
    height: 3.125em;
    padding: 0.875em;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 1.563em;
    height: 0.500em;
    border-top: 0.125em solid darken(#e6e6e6, 30%);
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    z-index: 30000;
    background-color: #fff;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 3.125em;
    left: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 3.125em);
    overflow-y: auto;
  }
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#myButton {
  display: block;
}
/* Set a style for all buttons */
button {
  outline: none;
  color: #fff;
  border: none;
  background-color: #4d4d4d;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 6.25em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.313em;
  margin: 0.625em;
  transition: background-color .5s;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.headerStyle {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 15.625em;
  background-repeat: no-repeat;
  background-size: 25.000em 15.625em;
  background-image: url("../images/img-lego-header-400-250.jpg");
}

/* Approximately the size of an iPad 800px */
@supports (grid-area: auto) {
  @media screen and (min-width: 26em) {
    .site {
      display: grid;
      grid-template-columns: 25em 25em;
      grid-template-areas:
                "nav nav"
				"header header"
				"sidebar main"
				"footer footer";
      justify-content: center;
      width: 50em;
      margin: 0 auto;
    }

    .nav {
      grid-area: nav;

    }

    .headerStyle {
      grid-area: header;
      display: block;
      width: 100%;
      max-width: 800px;
      height: 15.625em;
      background-repeat: no-repeat;
      background-size: 50.000em 15.625em;
      background-position: center center;
      background-image: url("../images/img-lego-header-800-250.jpg");
    }

    .sidebar {
      grid-area: sidebar;
    }

    .main {
      grid-area: main;
    }

    .footer {
      grid-area: footer;
    }
  }
}

/* Approximately the size of a 1248px large display monitor */
@supports (grid-area: auto) {
  @media screen and (min-width: 64em) {
    .site {
      display: grid;
      grid-template-columns: 50em 1fr;
      grid-template-areas:
				"header header"
                "nav nav"
                "main sidebar"
				"footer footer";
      justify-content: center;
      width: 64em;
      margin: 0 auto;
    }
    .nav {
      grid-area: nav;
    }
    .headerStyle {
      grid-area: header;
      display: block;
      width: 100%;
      max-width: 1024px;
      height: 15.625em;
      background-repeat: no-repeat;
      background-size: 64.000em 15.625em;
      background-image: url("../images/img-lego-header-1024-250.jpg");
    }

    .sidebar {
      grid-area: sidebar;
      background-color: #fff;
      padding: 1.250em;
      margin-top: 0.625em;
      margin-left: 0.625em;

      p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.0em;
        color: #2e2e2e;
      }
    }

    .main {
      grid-area: main;
      display: grid;
      background-color: #fff;
      justify-content: center;
      padding: 1.250em;
      margin-top: 0.625em;
      .registerStyle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
              "email email"
              "first last"
              "screenName telephone"
              "password1 password2"
              "labelshow showpassword"
              "birthday birthday"
              "submitForm submitForm";
        justify-content: center;
      }

      .first {
        grid-area: first;
        margin: 0 0.625em;
      }

      .last {
        grid-area: last;
        margin: 0 0.625em;
      }

      .screenName {
        grid-area: screenName;
        margin: 0 0.625em;
      }

      .telephone {
        grid-area: telephone;
        margin: 0 0.625em;
      }

      .emailStyle {
        grid-area: email;
        margin: 0 0.625em;
      }

      .password1 {
        grid-area: password1;
        margin: 0.3125em 0.625em;
      }

      .password2 {
        grid-area: password2;
        margin: 0.3125em 0.625em;
      }

      .labelShow {
        grid-area: labelshow;
        font-size: 1.0em;
        margin-left: 0.5em;
      }

      #passwordVisibility {
        grid-area: showpassword;
      }

      .birthday {
        grid-area: birthday;
        text-transform: capitalize;
        margin: 0.3125em 0.625em;
      }

      .submitForm {
        grid-area: submitForm;

        button {
          float: right;
        }
      }
      /* Form Styling */
      form {
        width: 37.000em;
        background-color: deepskyblue;
        padding: 0.938em;
      }

      form label {
        font-family: "Rubik", sans-serif;
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: normal;
        color: #f5f5f5;
      }

      [type="file"] {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        white-space: nowrap;
        width: 1px;
      }

      [type="file"] + label {
        background-color: #000;
        border-radius: 4rem;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        padding: 0 1.25em;
        margin-bottom: 1.25em;
      }

      [type="file"]:focus + label,
      [type="file"] + label:hover {
        background-color: #f15d22;
      }

      [type="file"]:focus + label {
        outline: 1px dotted #000;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      :root {
        --select-border: #777;
        --select-focus: blue;
        --select-arrow: var(--select-border);
      }

      .select-css {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        font-weight: 700;
        color: #444;
        line-height: 1.3;
        padding: .6em 1.4em .5em .8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);

        appearance: none;
        background-color: #fff;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        margin-bottom: 1.250em;
      }

      .select-css::-ms-expand {
        display: none;
      }

      .select-css:hover {
        border-color: #888;
      }

      .select-css:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
        box-shadow: 0 0 0 3px -moz-mac-focusring;
        color: #222;
        outline: none;
      }

      .select-css option {
        font-weight: normal;
      }

      input {
        width: 100%;
        padding: 0.75em;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 0.8em;
        margin-top: 0.375em;
        margin-bottom: 1em;
        resize: vertical;
      }

      textarea {
        resize: none;
        height: 9.5em;
        width: 100%;
        padding: 0.625em;
      }

      button, a.editButton {
        outline: none;
        color: #fff;
        border: none;
        background-color: #f12929;
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
        width: 6.25em;
        font-family: "Rubik", sans-serif;
        font-size: 1.2em;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
        padding: 0.313em;
        margin: 0.625em;
        transition: color 0.5s;

        &:hover {
          color: lightgreen;
        }
      }

      .sectionHeader {
        h2.sectionHeadingText {
          font-family: 'Noto Serif JP', serif;
          font-size: 2.4em;
          line-height: 0.6;
          color: #2E2E2E;
        }
      }

      .sectionArticle {
        img.imageArticle {
          width: 60%;
        }

        p.articleText {
          font-family: 'Nunito Sans', sans-serif;
          font-size: 1.2em;
          color: #2E2E2E;
        }
      }

      .sectionFooter {
        p.sectionText {
          font-family: 'Nunito Sans', sans-serif;
          font-size: 0.8em;
          color: gray;
        }
      }

    }

    .footer {
      grid-area: footer;
      background-color: azure;
      text-align: center;
      margin-top: 1.250em;

      p {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 1.0em;
        color: #2e2e2e;
      }
    }
  }
}

