.cards {
  display: grid;
  width: 130%;
  margin-top: 1.250em;
}

.cards img,
.caption {
  grid-column: 1;
  grid-row: 1;
}

.caption {
  display: flex;
  align-items: flex-end;
  opacity: 0;
}

a:focus .caption,
a:hover .caption {
  background: hsla(246, 40%, 30%, .6);
  opacity: 1;
}


.contact {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  background-color: #F1F1F1;
  width: 50em;
  padding: 0.938em;
  margin: 1.25em auto;

  .owner {
    padding-bottom: 0.625em;

    img {
      width: 9.375em;
      height: 9.375em;
      margin-bottom: 0.625em;
    }
  }

  .horizontal_line {
    border-top: 1px solid #ccc;
  }

  label {
    font-size: 0.8em;
    color: #2E2E2E;
  }

  input[type=text], input[type=tel], input[type=email], input[type="password"], select, textarea {
    width: 100%;
    padding: 0.750em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.375em;
    margin-bottom: 1em;
    resize: vertical;
  }

  .emailLabel {
    .emailError {
      display: none;
    }
  }

  .text_username {
    .error {
      display: none;
    }
  }

  textarea {
    resize: none;
    height: 12.50em;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0em;
  }

  #recaptcha {
    padding: 1.250em 0;
  }

  #message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    background-color: #cccccc;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em;
    margin: 1.250em;

    .notice {
      width: 4em;
      height: 4em;
    }

    .pen {
      width: 4em;
      height: 4em;
    }
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 0.250em;
    cursor: pointer;
    padding: 0.750em 1.250em;
    margin-top: 0.625em;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  button, a {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    color: #2E2E2E;
    border: none;
    background-color: #ccc;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    width: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.313em;
    margin: 0 auto;
    transition: background-color .5s;

    &:hover, &:active {
      background-color: darken(#ccc, 15%);
    }
  }

}

/* Approximately the size of an iPad 768px */
@supports (grid-area: auto) {
  @media screen and (min-width: 48em) {
    .contact {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-areas:
          "owner owner"
          "horizontal_line horizontal_line"
          "contact_name  contact_email"
          "contact_phone contact_website"
          "contact_comment contact_comment"
          "recaptcha message"
          "submit_comment submit_comment";
      grid-column-gap: 1.250em;

      .owner {
        grid-area: owner;
        display: flex;
        flex-flow: column nowrap;
        justify-self: center;
        text-align: center;
      }

      .horizontal_line {
        grid-area: horizontal_line;
      }

      .contact_name {
        grid-area: contact_name;
      }

      .contact_email {
        grid-area: contact_email;
      }

      .contact_phone {
        grid-area: contact_phone;
      }

      .contact_website {
        grid-area: contact_website;
      }

      .contact_reason {
        grid-area: contact_reason;
      }

      .contact_comment {
        grid-area: contact_comment;
      }

      #recaptcha {
        grid-area: recaptcha;
      }

      #message {
        grid-area: message;
      }

      .submit_comment {
        grid-area: submit_comment;
      }
    }
  }
}